{% extends 'org_base.html' %}
{% block title %}机构首页{% endblock %}
{% block page_path %}机构首页{% endblock %}
{% block right_form %}
<div class="right companycenter layout grouping" >
		<div class="head">
			<h1>全部课程</h1>
{#			<a class="green fr more" href="{% url 'org:org_course' course_org.id %}">查看更多  >  </a>#}
		</div>
		<div class="brief group_list">
            {% for course in all_courses %}
                  <div class="module1_5 box">
                    <a href="{% url 'course:course_detail' course.id %}"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.students }}</i></span>
                        <span class="fr">参加人数：{{ course.learn_times }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            {{ course.fav_nums }}
                        </span>
                    </div>
                </div>
            {% endfor %}


	</div>
<div class="right companycenter layout" >
    <div class="head">
        <h1>机构教师</h1>

    </div>
    {% for teacher in all_teacher %}
        <div class="diarys">
        <div class="module5 share company-diary-box" style="padding:10px 0;">
            <div class="left">
                <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                <p><a href="{% url 'org:teacher_detail' teacher.id %}">姓名：{{ teacher.name }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="right companycenter layout" >
    <div class="head">
        <h1>机构介绍</h1>
{#        <a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>#}
    </div>
    <div class="cont">&nbsp;&nbsp; {{ course_org.desc }}</div>
</div>
{% endblock %}